.find-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.find-icons_icon {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.find-icons_icon span {
  margin-top: 10px;
}
.recommended-friends {
  margin-top: 25px;
  padding: 20px 0px 100px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.recommended-friends_title {
  font-size: 15px;
  margin-bottom: 50px;
  color: rgba(0, 0, 0, 0.3);
}
.recommended-friends span {
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
}
.open-chat_header {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.4);
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.open-post_title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 3px;
}
.open-post_hashtag {
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 3px;
}
.open-post_members {
  display: flex;
}
.open-post_thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.open-post_column:nth-child(2) {
  position: relative;
}
.open-post > div > img {
  width: 90px;
  height: 90px;
  border-radius: 20px;
}
.open-post_members_count {
  color: rgba(0, 0, 0, 0.3);
}
.open-post_members .divider {
  margin: 0px 5px;
  width: 0px;
  height: 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.open-post_members_status {
  color: #ffb0e0;
}
.open-post_heartcount {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 13px;
  padding: 3px;
  border-radius: 20px;
}
