.nav {
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav_ul {
  display: flex;
  justify-content: space-between;
}
.nav_link {
  position: relative;
  color: #2e363e;
}
.nav_notification {
  width: 18px;
  height: 18px;
  font-size: 13px;
  background-color: tomato;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
  position: absolute;
  right: -9px;
  top: -5px;
}
.nav_notification_more {
  width: 7px;
  height: 7px;
  font-size: 13px;
  background-color: tomato;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
  position: absolute;
  right: -9px;
  top: -0px;
}
